body {
    font-family: 'Montserrat', sans-serif;
}
.container-fluid {
    padding-right: 0;
    padding-left: 0;
}
.hide {display: none;}
span.green {color: #18cfab;}
.max80 {width: 80%;}
.max90 {width: 90%;}
.max75 {width: 75%;}
.max94 {width: 94%;}
.max87 {width: 87%;}
.max80-appear, .max90-appear, .max75-appear, .max94-appear, .max87-appear {
    width:0;
}
.max80-appear.max80-appear-active {width: 80%; transition: width 3s ease-in;}
.max90-appear.max90-appear-active {width: 90%; transition: width 3s ease-in;}
.max75-appear.max75-appear-active {width: 75%; transition: width 3s ease-in;}
.max94-appear.max94-appear-active {width: 94%; transition: width 3s ease-in;}
.max87-appear.max87-appear-active {width: 87%; transition: width 3s ease-in;}
.title {
    font-size: 36px;
    margin-bottom: 80px;
}
.container-fluid {
    padding-top: 100px;
    padding-bottom: 100px;
}
.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

/*Стили для компонента Header*/
.navbar {
    background: #43423d;
}
.navbar .container {
    height: 120px;
}
.navbar .logo {
    width: 60px;
    height: 34px;
    font-size: 40px;
    background: #18cfab;
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-right: 10px;
}
.navbar .logo:before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 15px solid #18cfab;
}
.navbar .logo:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 15px solid #18cfab;
}
.navbar .logo>div {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 50%;
    margin-left: -15px;
}
.navbar-nav>li>a {
    padding-top: 22px;
    padding-bottom: 15px;
}
.navbar a {
    color: #ffffff;
}
.navbar-header, #myNavbar .nav>li {
    padding-top: 25px;
}
#myNavbar {
    height:100% !important;
}
#myNavbar .nav, #myNavbar .nav>li {
    height: 100%;
}
.jumbotron {
    height: 1020px;
    background: #3c3c3c;
    margin-bottom: 0;
}
.options>.row>div {
    height:370px;
}
.options>.row>div:nth-child(2n) {
    background: #18cfab;
    border: solid #ffffff;
    border-width: 8px 0 0;
    color: #ffffff;
}
.options>.row>div:nth-child(2n-1) {
    background: #1c2a33;
    border: solid #18cfab;
    border-width: 8px 0 0;
    color: #18cfab;
}
.options>.row>div {
    height:370px;
    padding-top: 100px;
    padding-bottom: 110px;
    font-size: 20px;
}
.options>.row>div>.image_wrapper {
    height: 130px;
}
.options.container-fluid {
    padding-top: 0;
    padding-bottom: 0;
}

/*Стили для компонента Services*/
.servicetabs {
    margin-bottom: 30px;
}
.servicetabs>a>div {
    display: inline-block;
    height: 72px;
    padding: 25px 15px;
    font-size: 17px;
    background: #f8fcfe;
    color: rgb(113,113,113);
}
.servicetabs>a.active {
    position: relative;
}
.servicetabs>a.active>div {
    background: #18cfab;
    color: #ffffff;
}
.servicetabs>a.active:after {
    border-top: 10px solid #18cfab;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    left: 50%;
    content: '';
    top: 43px;
    margin-left: -10px;
    position: absolute;
}
.serviceinfo>div {
    height: 137px;
    width: 1080px;
    margin: 0 auto;
    overflow: hidden;
}
.serviceinfo img{
    height: 137px;
    width:190px;
    background-color:#3c3c3c;
    margin-right:10px;
    float:left;
}

/*Стили для компонента Company*/
#company {
    background: #1f2428;
    color: #ffffff;
}
#company .menu {
    overflow: hidden;
    list-style: none;
    padding: 0;
}
#company .menu>li {
    float:left;
    padding-top:10px;
    padding-bottom: 50px;
    margin-right: 20px;
    cursor:pointer;
}
#company .menu>li.active {
    border-top: 2px solid #18cfab;
    color: #18cfab;
}
.progress {
    height: 20px;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
    background-color: transparent;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 2px rgba(255,255,255,1);
    box-shadow: 0px 0px 2px rgba(255,255,255,1);
}
.progress-bar>div {
    position:absolute;
    left:15px;
}
.progress-bar.violet {
    background-color: #9c5da5;
}
.progress-bar.blue {
    background-color: #11b0de;
}
.progress-bar.pink {
    background-color: #d67f7f;
}
.progress-bar.green {
    background-color: #20bc9d;
}
.progress-bar.brown {
    background-color: #bb8a36;
}

@media (min-width: 992px) {
    #company .menu>li {
        margin-right: 10px;
        font-size: 12px;
    }

}

/*Стили для компонента Portfolio*/
#portfolio {
    background: #f8fcfe;
}

#portfolio .menu {
    list-style: none;
    overflow: hidden;
    margin: 0 auto;
    width: 610px;
}

#portfolio .menu>li {
    float:left;
    padding:18px;
    background: #ffffff;
    cursor: pointer;
}
#portfolio .menu>li.active {
    border-top: 2px solid #18cfab;
    color: #18cfab;
}
.photo-wrapper {
    margin-top: 70px;
}
.photo-wrapper>div {
    height: 200px;
    position:relative;
    background: #8a8a8a;
}
.photo-wrapper>div:nth-child(1), .photo-wrapper>div:nth-child(3),
.photo-wrapper>div:nth-child(6), .photo-wrapper>div:nth-child(8),
.photo-wrapper>div:nth-child(9), .photo-wrapper>div:nth-child(11) {
    background: #24413e;
}

.photo-wrapper>div>.mask {
    position:absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    background: #ffffff;
    padding: 65px 0;
    border-top:3px solid #18cfab;
    opacity: 0.9;
}

/*Стили для компонента Team*/
#team .image-wrapper {
    height: 300px;
    background-color: #ebebeb;
    position:relative;
}

#team .image-wrapper .image-caption {
    position: absolute;
    bottom: 1px;
    width: 100%;
    background-color: #2e4a5b;
    color: #ffffff;
    padding: 10px 20px;
}

#team .general_information .desc{
    height: 105px;
    padding: 21px 28px;
}

#team .general_information .social-btns{
    height: 56px;
}

#team .general_information .social-btns div:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#team .general_information .social-btns div{
    display: inline-block;
    height: inherit;
    color: #252726;
    float: left;
    width: 25%;
    font-size: 22px;
    vertical-align: middle;
    cursor: pointer;
}
#team .general_information .social-btns div {
    background-color: #2e4a5b;
    color:#ffffff;
    border: 1px solid #ffffff;
}
#team .general_information .social-btns div:first-child {
    border-left:0;
}
#team .general_information .social-btns div:last-child {
    border-right:0;
}
#team .general_information .social-btns div:hover {
    background-color: #18cfab;
}

/*Стили для компонента Achievements*/
#numbers .row>div:nth-child(2n) {
    background: #18cfab;
    border: solid #1c2a33;
    border-width: 8px 0 0;
}
#numbers .row>div:nth-child(2n-1) {
    background: #1c2a33;
    border: solid #18cfab;
    border-width: 8px 0 0;
}
#numbers .row>div {
    height:370px;
    padding-top: 70px;
    padding-bottom: 110px;
    font-size: 20px;
    color: #ffffff;
}
.icon-wrapper:after {
    content: '';
    height: 105px;
    width: 105px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -53px 0 0 -53px;
}
.icon-wrapper {
    height:165px;
    width:165px;
    border-radius: 50%;
    position:relative;
    left: 50%;
    margin-left:-83px;
}
.icon-wrapper span {
    position: absolute;
    top: 50%;
    z-index: 3;
    left: 50%;
    margin: -20px;
    font-size: 40px;
    width:40px;
}
#numbers .row>div:nth-child(2n) .icon-wrapper {
    border: 1px solid #1c2a33;
}
#numbers .row>div:nth-child(2n-1) .icon-wrapper {
    border: 1px solid #18cfab;
}
#numbers .row>div:nth-child(2n) .icon-wrapper:after {
    background: #1c2a33;
}
#numbers .row>div:nth-child(2n-1) .icon-wrapper:after {
    background: #18cfab;
}

/*Стили для компонента News */
#news .image-wrapper {
    height: 300px;
    position: relative;
    background: #9e9e9e;
    margin: 10px 0;
}

#news .image-caption.date {
    position: absolute;
    right: 0;
    top: 0;
    background: #203e38;
    color: #ffffff;
    padding: 10px;
}

#news .image-caption.desc {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f8fcfe;
    height: 68px;
    padding: 23px;
    color: #717171;
}

#news .image-caption p {
    margin: 0;
}

@media (min-width: 687px) {
    #news .col-md-3.col-sm-6 {
        width: 50%;
        display: inline-block;
    }

}